<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%highlight{%d{dd-MM-yyyy HH:mm:ss.SSS} %-5p --- [%15t] %20C{1.} : %m%n}{INFO=white, ERROR=red, WARN=yellow, DEBUG=green}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>